@inherits LayoutComponentBase

<aside class="sidebar">
  <div class="container">
    <NavMenu /> 
  </div>
</aside>

<main class="main">
  <header></header>
  <div class="container">
    @Body
  </div>
</main>
