<nav class="nav">
  <ul>
    <li>
      <NavLink href="" Match="NavLinkMatch.All">
        Home
      </NavLink>
    </li>
    <li>
      <NavLink href="counter">
        Counter
      </NavLink>
    </li>
    <li>
      <NavLink href="fetchdata">
        Fetch data
      </NavLink>
    </li>
    <li>
      <NavLink href="people">
        People
      </NavLink>
    </li>
  </ul>
</nav>

@code {

}
