<nav class="nav">
    <p>
        <strong>
            C# Patterns
        </strong>
    </p>
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="people">
                People
            </NavLink>
        </li>
        <li>
            <NavLink href="vehicles">
                Vehicles
            </NavLink>
        </li>
        <li>
            <NavLink href="journals">
                Journals
            </NavLink>
        </li>
    </ul>
</nav>

@code {

}
