@page "/"

<section>
    <h1>C# Patterns</h1>

    <p>
        Welcome to C# Patterns!
    </p>
    <p>
      The purpose of this website is to showcase different Software Patterns.
    </p>
</section>
