@page "/people"

@using Data
@using Models

@inject IPeopleService PeopleService

<section>

  <h2>People</h2>
  <h3>There are @Count people registered</h3>

  <button @onclick="ToggleForm">New Person</button>

  @if (DisplayForm)
  {
    <NewPersonForm OnPersonBuilt="AddPerson">
    </NewPersonForm>
  }

</section>


@code {
  public bool DisplayForm { get; set; } = false;

  public int Count => PeopleService.AmountOfPeople;

  public void ToggleForm() => DisplayForm = !DisplayForm;

  public void AddPerson(Person p) => PeopleService.AddPerson(p);

}
