@page "/people"

@using Data
@using Models

@inject DataStore<Person> PersonStore

<section>

  <h2>People</h2>
  <h3>There are @Count people registered</h3>

  <p>Pick a creational strategy:</p>

  <div class="button-group button-group-block">
    <button class="button" @onclick="ToggleForm">Builder</button>
  </div>

  @if (DisplayForm)
  {
    <h3>New Person</h3>
    <PersonBuilderForm OnPersonBuilt="AddPerson">
    </PersonBuilderForm>
  }

  <hr />

  <PeopleTable People="PersonStore.Data">

  </PeopleTable>

</section>


@code {
  public bool DisplayForm { get; set; } = false;

  public int Count => PersonStore.Data.Count;

  public void ToggleForm() => DisplayForm = !DisplayForm;

  public void AddPerson(Person p) => PersonStore.Add(p);

}
