@page "/people"

@using Models

<h3>People</h3>

<button @onclick="ToggleForm">New Person</button>

@if (DisplayForm)
{
  <NewPersonForm>
  </NewPersonForm>
}

@code {
    public bool DisplayForm { get; set; } = false;

    public void ToggleForm() => DisplayForm = !DisplayForm;
}
