@using Models

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Active?</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var journal in Journals)
        {
            <tr>
                <td>@journal.Title</td>
                <td>@journal.Active</td>
                <td>@journal.Author</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<Journal> Journals { get; set; }
}